.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;

}

.column {
    flex-direction: column;
}